@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Slab:wght@300&display=swap');

.mont-bold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.mont-regular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.roboto-light {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
}

.big {
  font-size: 30px;
}

.standar {
  font-size: 13px;
}