.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.max-width-200 {
  width: 300px;
  word-wrap: break-word;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
