.table {
  margin-left: 20px;
  margin-top: 20px;
  min-width: 700px;
  max-width: 1200px;
  width: 50%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.bookInfo {
  width: 25%;
  padding: 10px;
}

.button {
  width: 25%;
  cursor: pointer;
  border: 1px solid black;
}

.row button {
  width: 25%;
  border: 1px solid black;
  margin-left: 20px;
  margin-right: 20px;
}

.createBook {
  margin-left: 20px;
  margin-top: 40px;
}

.formField {
  display: block;
}

.formField:not(:first-child) {
  margin-top: 20px;
}

.headers {
  margin-bottom: 10px;
}
