.table {
  margin-left: 20px;
  margin-top: 20px;
  min-width: 700px;
  max-width: 1200px;
  width: 50%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row th {
  width: 33%;
  padding: 10px;
}

.createBook {
  margin-left: 20px;
  margin-top: 40px;
}

.formField {
  display: block;
}

.formField:not(:first-child) {
  margin-top: 20px;
}

.headers {
  margin-bottom: 10px;
}
